<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="2.9" targetFramework="net40" />
  <package id="Humanizer" version="2.1.0" targetFramework="net40" />
  <package id="RestSharp" version="105.2.3" targetFramework="net40" />
  <package id="YAXLib" version="2.14" targetFramework="net40" />
</packages>